.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: firebrick;
  transition: .5s;
  border-radius: 45%;
}

.slider:before {
  content: '';
  position: absolute;
  left: 5px;
  bottom: 5px;
  height: 40px;
  width: 40px;
  background-color: rebeccapurple;
  transition: .5s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  transform: translateX(50px);
}