// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

$c-white: #ffffff;
$c-black: #000000;
$c-grey: #a1a1a1;

$c-blue: #45a4f7;
$c-blue-light: #bfe9f6;

$c-red: #F7455D;
$c-red-dark: #f62743;
$c-red-light: #f8c8d7;

$c-orange: #f79845;

$f-primary: 'Open Sans', sans-serif;
$f-secondary: 'Caveat', cursive;

$screen-xlarge: 85em;     // 1350px
$screen-large: 68.75em;   // 1100px
$screen-medium: 56.25em;  // 900px
$screen-small: 37.5em;    // 600px
$screen-smaller: 31.25em; // 500px
$screen-smallest: 25em;   // 400px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // font-size: 62.5%; // 10 / 16 = 0.625, for REMS

  @media only screen and (max-width: $screen-medium) {
  }

  @media only screen and (max-width: $screen-small) {
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}
