.Checkout {
  grid-column: 1 / -1;
  align-self: center;
  margin: 0 auto;
  padding: 2rem;

  &__btn {
    background-color: $c-red;
    color: $c-white;
    border: none;
    border-radius: 4px;
    padding: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
