// .Home {

//   &__hero {
//     height: 80vh;
//     width: 100%;
//     background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('https://firebasestorage.googleapis.com/v0/b/theends.appspot.com/o/storeImages%2FlandingPage%2Fdaniel-odame-DFRRyOzX8nI-unsplash.jpg?alt=media&token=d106fb11-e998-423d-ba12-82440f749202');
//     background-size: cover;
//     background-position: center;
//     color: $c-white;
//   }

//   &__heading {

//   }

//   &__sub-heading {

//   }

//   &__featured-stores {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }

//   &__featured-title {
//     font-size: 2rem;
//     margin: 2rem 0;
//     color: hsl(0, 0, 20);
//   }

//   &__stores-container {
//     width: 1024px;
//   }

//   &__store {
//     display: flex;
//     text-decoration: none;
//     color: black;

//     &-title {
//       font-family: 'Caveat', cursive;
//       font-size: 3rem;
//     }

//     &:nth-child(even) {
//       flex-direction: row-reverse;
//     }

//     &-img {
//       width: 50%;
//     }

//     &-content {
//       width: 50%;
//       display: flex;
//       flex-direction: column;
//       justify-content: space-around;
//       align-items: center;
//       font-size: 2rem;
//       padding: 2rem;
//     }

//     &-desc {
//       text-align: center;
//     }

//     &-button {
//       padding: .5rem 2rem;
//       font-size: 2rem;
//       border-radius: 15px;
//       cursor: pointer;
//     }
//   }
// }

.Home {
  display: grid;

  grid-template-columns: [full-start] 1fr [content-start] repeat(8, 10rem) [content-end] 1fr [full-end];

  grid-template-rows: 75vh  50vh 80vh 50vh 90vh 3rem;

  &__hero {
    background-color: aquamarine;
    grid-column: full-start / full-end;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('https://firebasestorage.googleapis.com/v0/b/theends.appspot.com/o/storeImages%2FlandingPage%2Fdaniel-odame-DFRRyOzX8nI-unsplash.jpg?alt=media&token=d106fb11-e998-423d-ba12-82440f749202');
    background-size: cover;
    background-position: center;
    color: $c-white;
  }

  &__about {
    background-color: bisque;
    grid-column: content-start / content-end;
  }

  &__featured-stores {
    // background-color: cornflowerblue;
    grid-column: content-start / content-end;
    display: grid;

    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(13, 1fr);
  }

  &__featured-title {
    grid-column: 6 / 11;
    justify-self: center;
  }

  &__store {
    height: 100%;
    width: 100%;
    transition: .5s;

    &--1 {
      grid-row: 3 / 11;
      grid-column: 5 / 9;
      z-index: 10;
    }

    &--2 {
      grid-row: 5 / 13;
      grid-column: 2 / 6;
      // z-index: 15;
    }

    &--4 {
      grid-row: 2 / 10;
      grid-column: 11 / 15;
    }

    &--6 {
      grid-row: 4 / 12;
      grid-column: 8 / 12;
    }

    &:hover {
      z-index: 20;
      transform: scale(1.1);
    }
  }

  &__store-img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 4px;
  }

  &__featured-products {
    background-color: palevioletred;
    grid-column: content-start / content-end;
  }

  &__gallery {
    background-color: rebeccapurple;
    grid-column: full-start / full-end;
  }

  &__footer {
    background-color: darkslategrey;
    grid-column: full-start / full-end;
  }
}
