.Home {
  display: grid;
  grid-template-rows: 75vh 50vh 80vh 85vh;
  grid-template-columns: [full-start] 1fr [content-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [content-end] 1fr [full-end];

  @media only screen and (max-width: $screen-xlarge) {
    grid-template-rows: 75vh 60vh min-content 85vh;
  }

  @media only screen and (max-width: $screen-large) {
    grid-template-rows: 50vh 30vh min-content 85vh;
  }

  @media only screen and (max-width: $screen-medium) {
    grid-template-rows: 50vh min-content min-content 85vh;
  }

  &__hero {
    display: grid;
    grid-column: full-start / full-end;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    color: $c-white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://images.unsplash.com/photo-1570999106145-b02a20ae04a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2046&q=80');
    background-position: center;
    background-size: cover;
  }

  &__heading {
    align-self: end;
    font-size: 5rem;
    font-family: $f-secondary;
    text-align: center;
  }

  &__sub-heading {
    font-weight: 400;
    font-size: 1.8rem;
  }

  &__offers {
    display: grid;
    grid-gap: 2.5rem;
    grid-column: content-start / content-end;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 3.5rem;
  }

  &__offer-content {
    display: grid;
    grid-gap: 1.5rem;
    justify-items: center;
    // align-content: start;
    padding: 2.5rem;
    border-radius: 4px;

    @media only screen and (max-width: $screen-large) {
      padding: 1rem 2rem;
    }
  }

  &__icon {
    position: relative;
    font-size: 4rem;
  }

  &__icon-circle {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    &--1 {
      color: $c-blue;
      background-color: rgba($c-blue, 0.5);
    }

    &--2 {
      color: $c-red;
      background-color: rgba($c-red, 0.5);
    }

    &--3 {
      color: $c-orange;
      background-color: rgba($c-orange, 0.5);
    }
  }

  &__offer {
    font-weight: 400;
    font-size: 1.5rem;
  }

  &__offer-desc {
    color: $c-grey;
    font-weight: 300;
    font-size: 1.3rem;
  }

  &__featured-stores {
    display: grid;
    grid-column: content-start / content-end;
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: repeat(15, 1fr);
    padding: 3rem 0;

    @media only screen and (max-width: $screen-large) {
      grid-template-rows: min-content repeat(2, 1fr);
      grid-template-columns: repeat(8, 1fr);
      gap: 2rem;
      justify-items: center;
    }
  }

  &__featured-title {
    grid-column: 7 / 10;
    justify-self: center;

    @media only screen and (max-width: $screen-large) {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      padding: 2rem 0;
    }
  }

  &__store {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    height: 500px;
    text-decoration: none;
    transition: .3s;

    @media only screen and (max-width: $screen-xlarge) {
      justify-self: center;
      width: 100%;
      height: 400px;
    }

    @media only screen and (max-width: $screen-large) {
      justify-self: center;
      width: 100%;
      height: 400px;
    }

    &--1 {
      z-index: 10;
      grid-row: 3 / 11;
      grid-column: 5 / 9;

      @media only screen and (max-width: $screen-large) {
        grid-row: 2 / 3;
        grid-column: 2 / 5;
      }
    }

    &--2 {
      z-index: 15;
      grid-row: 5 / 13;
      grid-column: 2 / 6;

      @media only screen and (max-width: $screen-large) {
        grid-row: 2 / 3;
        grid-column: 5 / 8;
      }
    }

    &--8 {
      grid-row: 2 / 10;
      grid-column: 11 / 15;

      @media only screen and (max-width: $screen-large) {
        grid-row: 3 / 4;
        grid-column: 2 / 5;
      }
    }

    &--7 {
      grid-row: 4 / 12;
      grid-column: 8 / 12;

      @media only screen and (max-width: $screen-large) {
        grid-row: 3 / 4;
        grid-column: 5 / 8;
      }
    }

    &:hover {
      z-index: 20;
      transform: scale(1.1);
    }
  }

  &__store-img {
    display: block;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  &__shop {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: center;
    padding: 1rem;
    color: $c-white;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: $c-red;
    border: 0;
    border-radius: 4px;
    // font-weight: 600;
    cursor: pointer;
    opacity: 0;
    transition: 0.2s;
  }

  &__shop-text {
    font-weight: 500;
    font-size: 1.7rem;
  }

  &__store:hover .Home__shop {
    opacity: 1;
  }

  &__featured-products {
    display: grid;
    grid-gap: 3rem;
    grid-column: content-start / content-end;
    grid-template-rows: min-content 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding: 6rem 2rem;
  }

  &__products-header {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 2rem 0;
  }

  &__featured-info {
    position: relative;
    height: 95%;

    &:hover .Home__view-product {
      opacity: 1;
    }
  }

  &__product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__view-product {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: $c-white;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: $c-red;
    opacity: 0;
    transition: 0.2s;
  }

  &__product-icon {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }

  &__gallery {
    grid-column: full-start / full-end;
    background-color: rebeccapurple;
  }

  &__footer {
    grid-column: full-start / full-end;
    background-color: darkslategrey;
  }
}
