.Loader {
  height: 100px;
  width: 100px;
  position: relative;
  margin-top: 30px;
  font-size: rem;

  &__circle {
    border-radius: 50%;

    &-middle,
    &-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) ;
    }

    &-outer {
      width: 100%;
      height: 100%;
      border-top: 5px solid #F7455D;
      animation: rotate 1.5s infinite linear;
    }

    &-middle {
      width: 75%;
      height: 75%;
      border-top: 5px solid rgb(69, 164, 247);
      animation: rotateInnerCircles 1.3s infinite linear;
    }

    &-inner {
      width: 50%;
      height: 50%;
      border-top: 5px solid rgb(247, 152, 69);
      animation: rotateInnerCircles 1.1s infinite linear;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotateInnerCircles {
    0% {
      transform-origin: center center;
      transform: translate(-50%, -50%) rotate(0);
    }
    100% {
      transform-origin: center center;
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}
