.Login {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(8, minmax(min-content, 10rem)) [content-end] 1fr [full-end];
  align-content: center;
  height: 100vh;
  padding: 3rem 2rem;
  background: linear-gradient(to right, $c-blue-light 0%, $c-blue-light 60%, $c-red-light 60%, $c-red-light 100%);

  &__content {
    display: grid;
    grid-column: content-start / content-end;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(8, [col-start] minmax(6rem,  1fr) [col-end]);
    justify-items: center;
    background-color: $c-white;
    border-radius: 10px;
    box-shadow: 0px 14px 26px -6px rgba($c-black, 0.47);
  }

  &__img {
    grid-row: 1 / 9;
    grid-column: col-start 1 / col-end 3;
    width: 100%;
    height: 100%;
  }

  &__img > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }

  &__go-back {
    color: $c-red;
    font-size: 1.3rem;
    font-family: inherit;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__icon {
    margin-right: .4rem;
  }

  &__link {
    align-self: center;
    color: $c-red;
    font-size: 1.3rem;
    text-decoration: none;

    &--home {
      grid-column: col-start 7 / col-end 7;
    }

    &--about {
      grid-column: col-start 8 / col-end 8;
      justify-self: start;
    }
  }

  &__header {
    grid-column: col-start 5 / col-end 7;
    align-self: end;
    font-weight: 400;
    font-size: 2.3rem;
    text-align: center;
    // align-self: end;
  }

  &__sub-header {
    grid-row: 3 / span 1;
    grid-column: col-start 5 / col-end 7;
    font-weight: 300;
    text-align: center;
  }
}

.Login-form {
  display: grid;
  grid-row: 4 / span 3;
  grid-row-gap: 1.5rem;
  grid-column: col-start 5 / col-end 7;
  grid-column-gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  align-items: center;

  &__input {
    grid-column: 1 / -1;
    padding: .5rem 0;
    font-size: 1.7rem;
    font-family: inherit;
    border: none;
    border-bottom: 1px solid $c-black;
  }

  &__signup:link,
  &__signup:visited {
    grid-row: 3 / -1;
    grid-column: 1 / span 2;
    align-self: center;
    justify-self: end;
    color: $c-red;
    font-size: 1.3rem;
    text-decoration: none;
  }

  &__login {
    grid-row: 3 / -1;
    grid-column: 3 / -1;
    justify-self: end;
    padding: .8rem 2rem;
    color: white;
    font-size: 1.8rem;
    font-family: inherit;
    background-color: $c-red;
    border: none;
    border-radius: 4px;
    box-shadow: -1px 18px 62px -19px $c-red;
    cursor: pointer;
  }
}
