.Marketplace {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [content-end] 1fr [full-end];
  background: linear-gradient(to bottom right, #fff 0%,#fff 50%,#f8c8d7 50%,#f8d4df 100%);

  &__content {
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 3rem;
    padding: 2rem;
  }

  &__loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-size: 1.2rem;
    height: calc(100vh - 114px);
  }
}
