.Product {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(8, minmax(min-content, 1fr)) [content-end] 1fr [full-end];
  height: calc(100vh - 50px);
  padding: 50px 0;

  &__content {
    display: grid;
    grid-column: content-start / content-end;
    grid-template-rows: repeat(3, max-content) 20%;
    grid-template-columns: repeat(8, 1fr);
  }

  &__img {
    display: block;
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  &__info {
    display: grid;
    grid-row: 1 / span 4;
    grid-column: 4 / -1;
    grid-template-rows: max-content max-content 200px max-content max-content;
    grid-template-columns: repeat(5, [col-start] minmax(max-content, 1fr) [col-end]);
    // grid-template-rows: repeat(5, minmax(5rem, 1fr));
    align-items: center;
    justify-items: center;
  }

  &__name {
    grid-column: col-start 2 / col-end 4;
    padding: 2rem 0;
  }

  &__price {
    position: relative;
    display: flex;
    grid-column: col-start 3 / col-end 3;
    justify-content: center;
    padding: 2rem 0;
    font-size: 2rem;

    &:after {
      position: absolute;
      bottom: 20px;
      width: 70%;
      height: 2px;
      background-color: $c-black;
      content: '';
    }
  }

  &__desc {
    grid-row: 3 / 4;
    grid-column: col-start 2 / col-end 4;
    color: gray;
    font-size: 1.3rem;
  }

  &__sizes {
    display: flex;
    grid-column: col-start 2 / col-end 4;
    justify-content: space-between;
    justify-self: stretch;
    padding: 2rem 0;
  }

  &__size {
    position: relative;
    display: block;
    color: $c-white;
    cursor: pointer;
    user-select: none;
  }

  &__size-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
  }

  .checked {
    color: $c-white;
    background-color: $c-red;
  }

  &__indicator {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    color: $c-red;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid $c-red;
    border-radius: 4px;

    &:hover {
      background-color: rgb(255, 161, 173);
    }
  }

  &__quantity-cont {
    grid-column: col-start 2 / col-end 2;
    padding: 2rem 0;
    font-size: 1.8rem;
  }

  &__add-cart {
    grid-column: col-start 3 / col-end 4;
    padding: .5rem 1rem;
    color: white;
    font-size: 1.2rem;
    font-family: inherit;
    background-color: $c-red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;

    &:disabled {
      background-color: gray;
      cursor: not-allowed;
    }
  }

  &__quantity-icons {
    padding: 0 .7rem;
    color: $c-red;
    font-size: 1.7rem;
    background-color: $c-white;
    border: none;
    cursor: pointer;

    &:hover {
      color: $c-red-dark;
    }

    &:disabled {
      color: rgb(252, 173, 183);
      cursor: not-allowed;
    }
  }
}
