.Cart {
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: calc(100vh - 50px);
  font-size: 1.3rem;

  &__items {
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 2rem;
    grid-template-columns: repeat(7, 1fr);
    padding: 2rem;
    overflow: scroll;
    background: linear-gradient(to bottom left, $c-white 0%, $c-white 50%, rgba($c-orange, .6) 50%,rgba($c-orange, .6) 100%);
  }

  &__heading {
    grid-column: 2 / -2;
    border-bottom: 1px solid lightgrey;
  }

  &__empty {
    grid-column: 2 / -2;
    margin: 0 auto;

    & a:link,
    & a:visited {
      color: $c-red;
      text-decoration: none;
    }
  }

  &__info {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: repeat(6, min-content);
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
    border-left: 1px solid lightgrey;
  }

  &__summary {
    grid-column: 1 / -1;
    text-align: center;
    border-bottom: 1px solid lightgrey;
  }

  &__price {
    text-align: right;
  }
}
