.About {
  height: 95vh; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

.Home {
  height: 80vh;
  width: 100vw; }
  .Home__hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://firebasestorage.googleapis.com/v0/b/theends.appspot.com/o/storeImages%2FlandingPage%2Fdaniel-odame-DFRRyOzX8nI-unsplash.jpg?alt=media&token=d106fb11-e998-423d-ba12-82440f749202");
    background-size: cover;
    background-position: center;
    color: #ffffff; }
  .Home__featured-stores {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .Home__featured-title {
    font-size: 2rem;
    margin: 2rem 0;
    color: #333333; }
  .Home__stores-container {
    width: 1024px; }
  .Home__store {
    display: flex;
    text-decoration: none;
    color: black; }
    .Home__store-title {
      font-family: 'Caveat', cursive;
      font-size: 3rem; }
    .Home__store:nth-child(even) {
      flex-direction: row-reverse; }
    .Home__store-img {
      width: 50%; }
    .Home__store-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      font-size: 2rem;
      padding: 2rem; }
    .Home__store-desc {
      text-align: center; }
    .Home__store-button {
      padding: .5rem 2rem;
      font-size: 2rem;
      border-radius: 15px; }

.Marketplace {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 100px; }

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 100px; }
  .Nav__brand {
    font-size: 1.9rem;
    font-family: 'Caveat', cursive; }
  .Nav__menu {
    display: flex;
    justify-content: space-between; }
  .Nav__link {
    margin: 0 10px;
    font-size: 1.1rem;
    text-decoration: none;
    color: black; }

.Store-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-bottom: 40px; }
  .Store-card__content {
    position: relative;
    height: 430px;
    width: 325px;
    overflow: hidden;
    border-radius: 5px; }
  .Store-card__img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .Store-card__name {
    color: black; }
