.About {
  height: 95vh;
  background-size: cover; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

.Home {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(8, 10rem) [content-end] 1fr [full-end];
  grid-template-rows: 75vh  50vh 80vh 50vh 90vh 3rem; }
  .Home__hero {
    background-color: aquamarine;
    grid-column: full-start / full-end;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://firebasestorage.googleapis.com/v0/b/theends.appspot.com/o/storeImages%2FlandingPage%2Fdaniel-odame-DFRRyOzX8nI-unsplash.jpg?alt=media&token=d106fb11-e998-423d-ba12-82440f749202");
    background-size: cover;
    background-position: center;
    color: #ffffff; }
  .Home__about {
    background-color: bisque;
    grid-column: content-start / content-end; }
  .Home__featured-stores {
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(13, 1fr); }
  .Home__featured-title {
    grid-column: 6 / 11;
    justify-self: center; }
  .Home__store {
    height: 100%;
    width: 100%;
    transition: .3s; }
    .Home__store--1 {
      grid-row: 3 / 11;
      grid-column: 5 / 9;
      z-index: 10; }
    .Home__store--2 {
      grid-row: 5 / 13;
      grid-column: 2 / 6; }
    .Home__store--4 {
      grid-row: 2 / 10;
      grid-column: 11 / 15; }
    .Home__store--6 {
      grid-row: 4 / 12;
      grid-column: 8 / 12; }
    .Home__store:hover {
      z-index: 20;
      transform: scale(1.1); }
  .Home__store-img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 4px; }
  .Home__featured-products {
    background-color: palevioletred;
    grid-column: content-start / content-end; }
  .Home__gallery {
    background-color: rebeccapurple;
    grid-column: full-start / full-end; }
  .Home__footer {
    background-color: darkslategrey;
    grid-column: full-start / full-end; }

.Marketplace {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 100px; }

.Nav {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(8, 10rem) [content-end] 1fr [full-end];
  grid-template-rows: 50px;
  align-items: center; }
  .Nav__brand {
    font-size: 1.9rem;
    font-family: 'Caveat', cursive;
    grid-column: content-start / span 2; }
  .Nav__menu {
    grid-column: 7 / content-end;
    display: flex;
    justify-content: space-around; }
  .Nav__link {
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    text-align: center;
    display: flex;
    align-items: center; }
  .Nav__cart {
    display: grid;
    grid-template-columns: min-content 1px; }
  .Nav__quantity {
    font-size: .7rem;
    background-color: red;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    text-align: center;
    align-self: start; }
  .Nav__icon {
    font-size: 1.7rem; }

.Page {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0; }

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1; }

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms linear 200ms; }

.fade-exit {
  opacity: 1; }

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms linear; }

.Store-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-bottom: 40px; }
  .Store-card__content {
    position: relative;
    height: 430px;
    width: 325px;
    overflow: hidden;
    border-radius: 5px; }
  .Store-card__img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .Store-card__name {
    color: black; }
